@media(min-width:992px){
    .container-style{
        margin: 10px 70px; 
    }
    /* top bottom , left right */
    .input-field-style{
    display: grid;
    grid-template-columns: 5fr auto;
    width: 95%;
    }
    .logo-style{
        text-align: start;
    }
    .icon-style{
        text-align:end;
        margin-top: 48px;
        
    }
    .img-style{
        width: 70%;
        margin-left: 100px;
        margin-bottom: 50px;
    }
}
@media(max-width:768px){
    .container-style{
        /* margin: 10px 70px;  */
        margin:auto;

    }
    /* top bottom , left right */
    .input-field-style{
    display: grid;
    grid-template-columns: 5fr auto;
    /* width: 95%; */
    }
    .logo-style{
        text-align: center;
    }
    .logo-style h1{
        margin-bottom: 30px;
    }
    .logo-style p{
        padding-bottom: 30px;
    }
    .icon-style{
        text-align:center;
        order:-1;
        margin-bottom:30px
    }
    .img-style{
        display: none;
    }
}
@media(max-width:576px){
    .container-style{
        /* margin: 10px 70px;  */
        margin:auto;

    }
    /* top bottom , left right */
    .input-field-style{
    display: grid;
    grid-template-columns: 5fr auto;
    /* width: 95%; */
    }
    .logo-style{
        text-align: center;
    }
    .logo-style h1{
        margin-bottom: 30px;
    }
    .logo-style p{
        padding-bottom: 30px;
    }
    .icon-style{
        text-align:center;
        order:-1;
        margin-bottom:30px

    }
    .img-style{
        display: none;
    }
}